.why-our-product-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.our-product {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}
.our-product p {
  padding: 0 80px;
}
.our-product img {
  width: 100%;
}
@media screen and (max-width: 786px) {
  .why-our-product-container {
    flex-direction: column-reverse;
  }
  .our-product p {
    padding: 0 20px;
  }
  .our-product {
    width: 100%;
  }
  .our-product {
    order: 2;
  }
  .our-product-content {
    height: 300px;
    order: 1;
  }
}
